body{
    background-color: darkslategrey;
    font-family: "Nunito", sans-serif;
}
#mainNavbar{
    background-color: darkgrey;
}
#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}
@media(max-width:120px)
{
    #headingGroup h1{
        font-weight: 100;
        font-size: 3rem;
    }  
}
